section{color: cadetblue; border: 3px solid; padding: 30px; margin: 20px;}
      body {
        background-color: rgb(16, 23, 21);
      }
      .s,
      label {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-size: x-large;
        color: bisque;
        
      }
      h1 {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: aliceblue;
      }
      .f{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;
font-size: 28px;}
a{ color: #FFFFFF;}
a:hover{color: black;}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;}